<div class="wrapper">
  <header class="p-3 fixed left-0 top-0 w-full z-50">
    <div class="flex">
      <h1 class="logo">
        <a href="#">
          <%= image_tag "icon_white.png", alt: "筋TRADEのロゴ", class:"w-auto h-10 ml-5" %>
        </a>
      </h1>
      <nav class="ml-auto">
        <ul class="flex">
          <li class="mx-1"><a href="#" class="text-white">ログイン</a></li>
          <li class="mx-1"><a href="#" class="text-white">ゲストログイン</a></li>
          <li class="mx-1"><a href="#" class="text-blue-900 bg-yellow-300">新規登録</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main">
    <div class="view_area">
      <div class="main_visual">
        <div class="main_visual__bg h-400">
          <div class="contents_wrap pt-24 ">
            <div class="main_visual__txt text-white">
              <p class="main_catch text-center text-4xl">
                <span>筋トレに関する情報をトレード(交換)</span><br>
                <span>略して『筋TRADE』</span>
                <%= form_with url: "http://www.google.co.jp/search", method: :get, class: "text-center mt-16" do |form| %>
                <%= form.submit "🔍", class: "py-2 px-2 bg-white" %><%= form.text_field :search, placeholder: "筋トレに関するスレを検索する", class: "w-60 py-2" %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about pt-16 pb-28 px-12">
      <div class="contents_wrap">
        <h2 class="text-blue-900 text-center text-2xl font-bold">『筋TRADE』とは？</h2>
        <p class="description text-center text-gray-400 mt-6">
          <span>筋TRADEは筋トレに関する情報を交換できるサービスです。</span><br>
          <span>「胸を鍛えるのに効果的なメニュー」「〇〇のサプリについて」「減量方法」etc</span><br>
          <span>皆さんがお持ちの情報を交換しましょう！</span>
        </p>
        <div class="about_inner flex justify-between mt-10 ">
          <section class="about_detail w-2/6">
            <div class="about_detail__head">
              <figure class="about_detail__image">
                <%= image_tag "thread-image.png", alt: "スレ作成の画像", class:"mx-auto w-2/6" %>
              </figure>
            </div>
            <div class="about_detail__contents mt-5">
              <h3 class="about_detail__title text-lg text-blue-900 font-bold text-center">スレ作成</h3>
              <div class="about_detail__text text-center text-gray-400 mt-2">
                <span>あなたが気になる筋トレ関連の</span><br>
                <span>スレが作成できます。</span>
              </div>
            </div>
          </section>

          <section class="about_detail w-2/6">
            <div class="about_detail__head">
              <figure class="about_detail__image">
                <%= image_tag "chat-image.png", alt: "チャットの画像", class:"mx-auto w-2/6" %>
              </figure>
            </div>
            <div class="about_detail__contents mt-5">
              <h3 class="about_detail__title text-lg text-blue-900 font-bold text-center">チャット</h3>
              <div class="about_detail__text text-center text-gray-400 mt-2">
                <span>スレ内にてユーザー同士で</span><br>
                <span>チャットによる会話ができます。</span>
              </div>
            </div>
          </section>

          <section class="about_detail w-2/6">
            <div class="about_detail__head">
              <figure class="about_detail__image">
                <%= image_tag "like-image.png", alt: "いいねの画像", class:"mx-auto w-2/6" %>
              </figure>
            </div>
            <div class="about_detail__contents mt-5">
              <h3 class="about_detail__title text-lg text-blue-900 font-bold text-center">いいね</h3>
              <div class="about_detail__text text-center text-gray-400 mt-2">
                <span>コメントに”いいね”することで</span><br>
                <span>マイページに保存できます。</span>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="slider_wrapper">
      <div class="slider bg-blue-700 h-[500px]">
      </div>
    </div>
  </div>

  <footer class="px-10 py-6">
    <div class="footer_wrapper flex px-8 py-6">
      <nav class="w-full">
        <ul class="flex justify-between w-full">
          <li class=""><a href="#"><%= image_tag "icon_black.png", alt: "筋TRADEのロゴ", class:"w-auto h-10 ml-5" %></a>
          </li>
          <li class=""><a href="#" class="text-blue-900">ログイン</a></li>
          <li class=""><a href="#" class="text-blue-900">ゲストログイン</a></li>
          <li class=""><a href="#" class="text-blue-900 bg-yellow-300">新規登録</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>

<style>
  .main_visual__bg {
    background-image: url(<%= asset_path "top_page1.jpg" %>);
    background-position: 44% 56%;
    background-size: cover;
    position: relative;
    z-index: -3;
    height: 400px;
  }

  .main_visual__bg::before {
    content: "";
    display: block;
    background-image: url(<%= asset_path "top_page_mask.png" %>);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
  }
</style>
